{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Eduport - LMS, Education and Course Theme</title>

	<!-- Meta Tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="Webestica.com">
	<meta name="description" content="Eduport- LMS, Education and Course Theme">

	<!-- Favicon -->
	<link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}">

	<!-- Google Font -->
	<link rel="preconnect" href="../fonts.googleapis.com/index.html">
	<link rel="preconnect" href="../fonts.gstatic.com/index.html" crossorigin>
	<link rel="stylesheet"
		href="../fonts.googleapis.com/css23ab4.css?family=Heebo:wght@400;500;700&amp;family=Roboto:wght@400;500;700&amp;display=swap">

	<!-- Plugins CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/font-awesome/css/all.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-7N7LGGGWT1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-7N7LGGGWT1');
	</script>

</head>
<body>
    <!-- Header START -->
<header class="navbar-light navbar-sticky shadow bg-success">
	<!-- Logo Nav START -->
	<nav class="navbar navbar-expand-xl">
		<div class="container-fluid px-3 px-xl-5">
			<!-- Logo START -->
			<a class="navbar-brand" href="index.html">
				<img class="light-mode-item navbar-brand-item" src="assets/images/logo.svg" alt="logo">
				<img class="dark-mode-item navbar-brand-item" src="assets/images/logo-light.svg" alt="logo">
			</a>
			<!-- Logo END -->

			<!-- Responsive navbar toggler -->
			<button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-animation">
					<span></span>
					<span></span>
					<span></span>
				</span>
			</button>

			<!-- Main navbar START -->
			<div class="navbar-collapse w-100 collapse" id="navbarCollapse">

				<!-- Nav category menu START -->
				<ul class="navbar-nav navbar-nav-scroll me-auto">
					
					<!-- Nav item 1 Demos -->
					
				<!-- Nav category menu END -->

				<!-- Nav Main menu START -->
				<ul class="navbar-nav navbar-nav-scroll me-auto">
					<!-- Nav item 1 Demos -->
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle active" href="#" id="demoMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Accueil</a>
					</li>

					<!-- Nav item 2 Pages -->
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="pagesMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages</a>
						<ul class="dropdown-menu" aria-labelledby="pagesMenu">
							<li> <a class="dropdown-item" href="instructor-list.html">Instructor List</a></li>
							<li> <a class="dropdown-item" href="instructor-single.html">Instructor Single</a></li>
							<li> <a class="dropdown-item" href="become-instructor.html">Become an Instructor</a></li>
							<li> <a class="dropdown-item" href="abroad-single.html">Abroad Single <span class="badge bg-success ms-2 smaller">New</span></a></li>
						</ul>
					</li>

					<!-- Nav item 3 Account -->
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="accounntMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Compte</a>
						<ul class="dropdown-menu" aria-labelledby="accounntMenu">
							<!-- Dropdown submenu -->
							<li class="">
								<a class="dropdown-item dropdown-toggle" href="#"><i class="fas fa-user-tie fa-fw me-1"></i>Voir le profil</a>
							</li>	
		                    <li> <hr class="dropdown-divider"></li>
							<li> <a class="dropdown-item" href="instructor-edit-profile.html"><i class="fas fa-fw fa-edit me-1"></i>Modifier le profil</a> </li>
							<li> <a class="dropdown-item" href="instructor-setting.html"><i class="fas fa-fw fa-cog me-1"></i>Paramètres</a> </li>
							<li> <a class="dropdown-item" href="instructor-delete-account.html"><i class="fas fa-fw fa-trash-alt me-1"></i>Supprimer le profil</a> </li>
						</ul>
					</li>
					<!-- Nav item 5 link-->
				</ul>
				<!-- Nav Main menu END -->

				<!-- Nav Search START -->
				<!-- <div class="nav my-3 my-xl-0 px-4 flex-nowrap align-items-center">
					<div class="nav-item w-100">
						<form class="position-relative">
							<input class="form-control pe-5 bg-transparent" type="search" placeholder="Search" aria-label="Search">
							<button class="btn bg-transparent px-2 py-0 position-absolute top-50 end-0 translate-middle-y" type="submit"><i class="fas fa-search fs-6 "></i></button>
						</form>
					</div>
				</div> -->
				<!-- Nav Search END -->
			</div>
			<!-- Main navbar END -->

			<!-- Profile START -->
			<!-- <div class="dropdown ms-1 ms-lg-0">
				<a class="avatar avatar-sm p-0" href="#" id="profileDropdown" role="button" data-bs-auto-close="outside" data-bs-display="static" data-bs-toggle="dropdown" aria-expanded="false">
					<img class="avatar-img rounded-circle" src="{% static 'assets/images/avatar/01.jpg' %}" alt="avatar">
				</a>
				<ul class="dropdown-menu dropdown-animation dropdown-menu-end shadow pt-3" aria-labelledby="profileDropdown">
					Profile info -->
					<!-- <li class="px-3">
						<div class="d-flex align-items-center"> -->
							<!-- Avatar -->
							<!-- <div class="avatar me-3">
								<img class="avatar-img rounded-circle shadow" src="{% static 'assets/images/avatar/01.jpg' %}" alt="avatar">
							</div>
							<div>
								<a class="h6" href="#">Lori Ferguson</a>
								<p class="small m-0">example@gmail.com</p>
							</div>
						</div>
						<hr>
					</li> -->
					<!-- Links
					<li><a class="dropdown-item" href="#"><i class="bi bi-person fa-fw me-2"></i>Editer le profil</a></li>
					<li><a class="dropdown-item" href="#"><i class="bi bi-gear fa-fw me-2"></i>Paramètres</a></li>
					<li><a class="dropdown-item" href="#"><i class="bi bi-info-circle fa-fw me-2"></i>Aide</a></li>
					<li><a class="dropdown-item bg-danger-soft-hover" href="#"><i class="bi bi-power fa-fw me-2"></i>Deconnexion</a></li>
					<li> <hr class="dropdown-divider"></li> -->
					<!-- Dark mode switch START -->
					<!-- <li>
						<div class="modeswitch-wrap" id="darkModeSwitch">
							<div class="modeswitch-item">
								<div class="modeswitch-icon"></div>
							</div>
							<span>Mode sombre</span>
						</div>
					</li>  -->
					<!-- Dark mode switch END -->
				<!-- </ul>
			</div> --> 
			<!-- Profile START -->
		</div>
	</nav>
	<!-- Logo Nav END -->
</header>
<div class="btn-success p-3 m-5 navbar-sticky navbar-light" id="inscrit">
	inscrits : 25 248+
</div>
<!-- Header END -->
    <div class="container">
        <div class="row">
            <form action="" method="POST">   {% csrf_token %}
                <div class="card border-5 mt-4 p-3 shadow"> 
                    <div>
                        <div>
                            {% if messages %}
                            {% for men in messages%}
                            <div class="text-center text-danger"><b>{{ men }}</b></div>
                            {% endfor %}
                            {% endif %}
                            <label for="id_username">Nom :</label>
                            {% if form.lname.errors %}
                            {% for er in form.lname.errors %}
                            <div class="text-danger text-center"><small>{{er}}</small></div>
                            {% endfor %}
                            {% endif %}
                            <div>
                                {{form.lname}}
                            </div>
							<label for="id_username">Prenoms :</label>
                            {% if form.fname.errors %}
                            {% for er in form.fname.errors %}
                            <div class="text-danger text-center"><small>{{er}}</small></div>
                            {% endfor %}
                            {% endif %}
                            <div>
                                {{form.fname}}
                            </div>
                            <label for="id_pwd">Pays : </label>
                            {% if form.cont.errors %}
                            {% for er in form.cont.errors %}
                            <div class="text-danger"><small>{{er}}</small></div>
                            {% endfor %}
                            {% endif %}
                            <div>
                            {{form.cont}}
                            </div> 
                            <label for="id_pwd">Numero de téléphone : </label>
                            {% if form.number.errors %}
                            {% for er in form.number.errors %}
                            <div class="text-danger"><small>{{er}}</small></div>
                            {% endfor %}
                            {% endif %}
                            <div>
                                {{form.number}}
                            </div>
							<label for="id_pwd">Email : </label>
                            {% if form.email.errors %}
                            {% for er in form.email.errors %}
                            <div class="text-danger"><small>{{er}}</small></div>
                            {% endfor %}
                            {% endif %}
                            <div>
                                {{ form.email }}
                            </div>
                            <label for="id_pwd">Mot de passe :</label>
                            {% if form.pwd.errors %}
                            {% for er in form.pwd.errors %}
                            <div class="text-danger "><small>{{er}}</small></div>
                            {% endfor %}
                            {% endif %}
                            <div>
                                {{ form.pwd }}
                            </div>
                            <label for="id_pwd">Confirmer le mot de passe : </label>
                            {% if form.pwd_confirm.errors %}
                            {% for er in form.pwd_confirm.errors %}
                            <div class="text-danger"><small>{{er}}</small></div>
                            {% endfor %}
                            {% endif %}
                            {{ form.pwd_confirm }}
                        </div>
                        <div>
                            <button class="btn btn-primary m-2">S'inscrire</button>
                            <span class="mr-2">Vous avez déja un compte <a href="log">Se connecter</a></span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
		
		<!-- Bootstrap JS -->

<style>
	#inscrit{
			position: fixed;
            text-align: center;
            align-content: start;
            z-index: 19998;
			align-items: end;
	}
</style>

<script src="{% static 'assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>

<!-- Vendors -->
<script src="{% static 'assets/vendor/tiny-slider/tiny-slider.js' %}"></script>
<script src="{% static 'assets/vendor/glightbox/js/glightbox.js' %}"></script>
<script src="{% static 'assets/vendor/purecounterjs/dist/purecounter_vanilla.js' %}"></script>

<!-- Template Functions -->
<script src="{% static 'assets/js/functions.js' %}"></script>  
</body>
</html>
